div{
    display: flex;
    justify-content: center;
    align-items: center;

& > a > img {
    background-image: url('../../../static/images/dafault_logo.png') no-repeat -0px -0px;
    width: 200px;
    height: 200px;

    }
} 