.MainSubMenu ul {
    position: absolute;

    list-style-type: none;
    float: right;

    font-family: 'Noto Sans KR', sans-serif;

    left: 50%;
    margin-left: -33.8rem;
    margin-top: 12rem;

    li {
        float: left;
        margin-left: 15rem;

        font-weight: 100;

        &:hover {
            margin-top: -2px;
            border-top: 2px solid black;
        }
    }

}