.Login{
  position: absolute;
  float: right;
  list-style: none;
  margin-left: 25%;

  & > li{
    font-size: 11pt;
  }
  
  .my{
    color: #ff8000;
  }

  & > input[type=text]{
    margin-left: 30px;
    border: 3px #ff8000;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    box-shadow: 0px 0px 0px 0px;
  }

  & > button {
    background-color: #fff;
    border: #fff;

    & > img {
      width: 20px;
      height: 20px;
    }
  }
}

a{
  margin-left: 20px;
  text-decoration: none;
  color: #353534;
  font-weight: 600;
}