@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');


div {
    & > ul {
        position: relative;

        list-style-type: none;

        font-family: 'Noto Sans KR', sans-serif;
        font-weight: bold;

        float: right;
        right: 10%;
        margin-top: 1.7rem;
        
        & > li {
            float: left;
            margin-left: 1rem;
            font-size: 10pt;
        }
    }
}